:root {
  --transparent: rgba(255, 255, 255, 0.7);
  --white: #fff;
  --charcoal: #333;
  --slate-blue: #6A7D8F;
  --light-gray: #E0E0E0;
  --teal: #008080;
  --taupe: #BFB8A6;
  --noir-black: #222222;
  --bold: 600;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  background-color: var(--white);
  box-sizing: border-box;
}

header {
  padding: 10px;
  display: flex;
  align-items: center;
}

.brand p {
  color: var(--white);
  font-weight: 600;
}

.notify {
  color: var(--white);
  font-size: 12px;
}

h1 {
  font-size: 2rem;
  font-family: Exo, sans-serif;
  letter-spacing: 1px;
  line-height: 1.2;
}

h2 {
  font-size: 1.3rem;
  font-family: Exo, sans-serif;
  letter-spacing: 1px;
  line-height: 1;
}

.product-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--noir-black);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 999;
}

nav ul {
  display: flex;
  padding: 10px;
  margin: 0;
}

nav li {
  margin: 5px;
  padding: 0;
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: var(--noir-black);
  margin-right: 15px;
  font-family: Exo, san-serif;
  text-shadow: 1px 1px 2px var(--white);
}

/********************
Hero Container
********************/
.sunburst-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.8) 40%);
  pointer-events: none;
  /* Ensures the overlay doesn't interfere with content */
}

section.hero-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.collection {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: space-evenly;
  grid-template-columns: 1fr;
  box-sizing: border-box;
}

.seasonal-product,
.sub-feature {
  display: grid;
  grid-template-rows: auto;
  gap: 5px;
  margin-bottom: 5px;
}

.seasonal-product {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.sub-feature {
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
}

.reverse {
  grid-auto-flow: dense;
  direction: rtl;
}

.grid-item {
  display: grid;
  text-align: center;
  width: 100%;
  gap: 0;
}

.seasonal-product img,
.sub-feature img {
  object-fit: cover;
  width: 100%;
  object-position: center;
  display: block;
  height: auto;
}

.sub-feature img,
.sub-feature .featured-text {
  object-position: 50% 35%;
}

.sub-feature .featured-text {
  grid-column: 1/ span 2;
}

/* 
.sub-feature {
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
} */

.lazy-load {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.lazy-load.loaded {
  opacity: 1;
}

.featured-text {
  text-align: center;
  color: var(--noir-black);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-text h2,
.featured-text p {
  color: var(--noir-black);
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  margin: 10px;
}

a.anchor-link {
  padding: 8px;
  background-color: var(--transparent);
  color: var(--noir-black);
  width: 100%;
  text-transform: capitalize;
  letter-spacing: 1px;
  max-width: fit-content;
  width: 100%;
  margin: 0 auto;
  text-decoration-color: var(--taupe);
}

/*******************
Product Galleries
*******************/
.galleries {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  background: var(--white);
  padding: 2rem;
}

/*Cool looking glasses gradient*/
.img-container:hover {
  background: linear-gradient(135deg, var(--white), var(--charcoal), var(--slate-blue), var(--light-gray));
}

.mute {
  opacity: .89;
}

.gallery img {
  width: 100%;
  object-fit: cover;
  border: 1px solid var(--light-gray);
  height: 100%;
}

.gallery img:hover {
  opacity: .7;
  cursor: zoom-in;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.modalInner {
  border-radius: 4px;
  background: var(--white);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-100vh);
  transition: all 0.5s;
  max-width: 700px;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  color: var(--black);
  margin: 3rem;
}

.modal figure {
  height: 100%;
  display: grid;
  margin: 0;
  grid-template-rows: 1fr auto;
  width: 500px;
  max-width: 100%;
}

.modal img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 500px;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal figcaption {
  padding: 10px;
}

.modal h2 {
  color: var(--noir-black);
}

.modal.open .modalInner {
  transform: translateY(0);
}

@media screen and (min-width: 600px) {
  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  .brand p {
    font-size: 1rem;
  }

  .notify {
    font-size: 14px;
    margin: 10px;
  }

  nav {
    font-size: 1rem;
  }

  .seasonal-product .featured-text {
    grid-column: 1/ span 3;
  }

  .sub-feature .featured-text {
    grid-column: -3 / span 2;
  }

  .featured-text {
    font-size: 1rem;
    max-width: 100%;
    margin: 50px auto;
    padding: 0px 65px;
  }

  .featured-text h2 {
    line-height: 1.3;
    text-transform: capitalize;
  }

  a.anchor-link {
    font-size: 1rem;
  }

  .reverse {
    direction: ltr;
  }

  p.specs {
    display: block;
    word-break: break-word;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 0.95rem;
  }

  h1 {
    font-size: 1.8rem;
    line-height: 1.3;
  }

  .notify {
    font-size: 16px;
    margin: 10px;
  }

}

@media screen and (min-width: 1024px) {
  .collection {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }

  .seasonal-product .featured-text {
    grid-column: 4/ span 2;
  }

  .sub-feature .featured-text {
    grid-column: 3 / span 2;

  }

  .reverse {
    direction: ltr;
  }
}

@media screen and (min-width: 1200px) {
  .collection {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: space-evenly;
  }

  .seasonal-product {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .sub-feature {
    grid-auto-flow: dense;
    direction: rtl;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .grid-item {
    text-align: center;
  }

  .grid-item img {
    max-width: 100%;
  }

  .seasonal-product img {
    padding: 10px;
    object-fit: cover;
    width: 100%;
  }

  .seasonal-product img {
    padding: 10px;
    object-fit: cover;
    width: 100%;
    object-position: center;
  }

  .seasonal-product.reverse img,
  .seasonal-product.reverse .featured-text {
    max-height: 70%;
    object-position: 50% 35%;
  }
}